/* HomePage.css */
.home-page {
    position: relative;
  }
  
  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  

  
  .background-image {
    
    width: 100%;
    height: 100%;
    object-fit:contain;
    align-items: center;
    
  }
  
  .toggle-button {
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #555;
    transition: 0.3s ease;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
  }
  