.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 10px; /* adjust as needed */
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.drink {
  width: 90%;
  align-self: center;
  margin-top: -150px; /* adjust as needed */
}