.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 10px; /* adjust as needed */
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.table{
 width: 100vw;
}
