.square {
    width: 30vw;
    height: 30vw;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    border-radius: 10px; /* adjust as needed */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

